<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form method="POST" action="/team">
 <label>Name <input type="Text" name="name" /></label><br/>
 <label>Coach: <input type="Text" name="coach" /></label><br/>
 <label>Point Guard: <input type="Text" name="pg" /></label><br/>
 <label>Shooting Gaurd: <input type="Text" name="sg" /></label><br/>
 <label>Power Forward: <input type="Text" name="pf" /></label><br/>
 <label>Samll Forward: <input type="Text" name="sf" /></label><br/>
 <label>Center: <input type="Text" name="c" /></label><br/>
 <input type="submit" id="Submit" />
 </form>
 </body>
</html>


